.container{
    margin-top:160px;
    margin-left: 550px;

  }
  .container h1{
    margin-left: 160px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .container h2{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .container a{
    color:#003E6D;
  }
  .i input{
width: 400px;
height: 40px;
font-size:14px;
font-family:Georgia, 'Times New Roman', Times, serif;
}
.col12{
    margin-top:12px;
}

.i button{
    background-color: #003E6D;
    color:white;
    margin-top:10px;
    height: 40px;
    border-radius: 4px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left:170px;

}